:root {
  --primary-text-color: #212121;
  --ptext-color: #757575;
  --accent-color: #2196F3;
  --logofirst-color: #000000;
  --button-color: #FFFFFF;
  --buttonbg-color: #2196F3;
  --herobg-color: #2F303A;
  --footerbg-color: #2F303A;
}

body {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container, .container-footer, .container-clients, .container-ourteam, .container-project, .container-benefits, .container-hero {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container, .container-footer, .container-clients, .container-ourteam, .container-project, .container-benefits, .container-hero {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container, .container-footer, .container-clients, .container-ourteam, .container-project, .container-benefits, .container-hero {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container, .container-footer, .container-clients, .container-ourteam, .container-project, .container-benefits, .container-hero {
    width: 1200px;
  }
}

.ourteam-section, .benefits-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .ourteam-section, .benefits-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .ourteam-section, .benefits-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  initial-letter: 0.03em;
  text-decoration: none;
}

.section-number__logo {
  margin-bottom: 20px;
}

.section-header__logo-header {
  color: var(--logofirst-color);
  font-weight: 700;
}

.section-number__logo-header {
  color: var(--button-color);
}

.container, .container-footer, .container-clients, .container-ourteam, .container-project, .container-benefits, .container-hero {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-header {
  border-bottom: 1px solid #f1f1f1;
  position: relative;
}

.list {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

.first-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .first-nav {
    height: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .first-nav {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .first-nav {
    height: 80px;
  }
}

.menu-button {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  outline: 0;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu-button {
    margin-left: auto;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  background-color: var(--button-color);
  font-size: 34px;
  padding: 48px 40px;
  z-index: 2000;
}
@media screen and (max-width: 767px) {
  .menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 90vh;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .first-nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 93px;
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
  }
}
@media screen and (max-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 308px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav,
.info-about {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .site-nav,
.info-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav .site-nav__link,
.info-about .info-about__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .site-nav__main-nav {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__main-nav {
    margin-right: 32px;
  }
}

.info-about {
  margin-left: auto;
  margin-right: 0px;
}
@media screen and (max-width: 767px) {
  .info-about {
    display: block;
    margin-left: 0px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .info-about {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .info-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav .site-nav__link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
  font-family: "Roboto" sans-serif;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  text-transform: none;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .site-nav .site-nav__link {
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    color: var(--primary-text-color);
  }
}

.info-about .info-about__link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
  font-family: "Roboto" sans-serif;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  text-transform: none;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .info-about .info-about__link {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 24px;
    line-height: 1.1666666667;
    color: var(--ptext-color);
  }
}
@media screen and (min-width: 768px) {
  .info-about .info-about__link {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.info-about .info-about__link {
  color: var(--ptext-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__link--bluelink:hover, .site-nav__link--bluelink:focus,
.info-about__link--bluelink:hover,
.info-about__link--bluelink:focus,
.info-about__link--telcolor:hover,
.info-about__link--telcolor:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .info-about__link--telcolor {
    color: var(--accent-color);
  }
}

.info-about__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .info-about__main-nav:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .info-about__main-nav:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .info-about__main-nav:not(:last-child) {
    margin-bottom: 32px;
  }
}

.info-about__info-icon,
.info-about__info-header {
  display: inline-block;
  fill: currentColor;
  /* margin-right: 10px; */
}
@media screen and (max-width: 767px) {
  .info-about__info-icon,
.info-about__info-header {
    display: none;
  }
}

.info-about__info-header {
  margin-right: 10px;
}

.info-about__info-icon {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .site-nav .active {
    position: relative;
  }
}

.site-nav .active {
  color: var(--accent-color);
  background-color: var(--button-color);
}

.site-nav .active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%) scaleX(0.3);
          transform: translateX(-50%) scaleX(0.3);
  display: block;
  width: 95%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
}
@media screen and (max-width: 767px) {
  .site-nav .active::after {
    display: none;
  }
}

.site-nav .active::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
  opacity: 1;
}

.menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .menu-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .menu-link {
    display: none;
  }
}

.menu-link__socials {
  margin-right: 20px;
}

.menu-link__item:not(:last-child) {
  margin-right: 20px;
  border-right: 2px solid rgba(33, 33, 33, 0.2);
}

.container-hero {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_sqphone@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_sqphone@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_sgphone@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_sgphone@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_sqtablet@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_sqtablet@1x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_sqtablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_sqtablet@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Img_sqdesktop@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img_sqdesktop@1x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Img_sqdesktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img_sqdesktop@2x.jpg);
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--herobg-color);
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__hero-title {
  margin-bottom: 30px;
  color: var(--button-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--button-color);
}
@media screen and (min-width: 1200px) {
  .hero__hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
  }
}

.buttonpage, .backdrop__buttonpage, .hero__buttonpage {
  color: var(--button-color);
  background-color: var(--accent-color);
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
  cursor: pointer;
}

.hero__buttonpage {
  min-width: 216px;
  padding-left: 32px;
  padding-right: 32px;
}

.container-benefits {
  min-width: 480px;
}

@media screen and (min-width: 1200px) {
  .benefits-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits-line__description {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .benefits-line__description {
    width: 354px;
    height: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-line__description {
    width: 270px;
    height: 72px;
  }
}

.benefits-line__line {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  color: var(--logofirst-color);
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .benefits-line__line {
    text-align: center;
  }
}

.benefits-line__text-line {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.benefits-section__title {
  content-visibility: hidden;
}

.container-benefits .benefits-line {
  display: block;
  list-style: none;
  color: var(--ptext-color);
}
@media screen and (min-width: 768px) {
  .container-benefits .benefits-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .container-benefits .benefits-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.benefits-line__text-nodestart,
.benefits-line__text-nodecenter,
.benefits-line__text-nodemiddle,
.benefits-line__text-nodefinish {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .benefits-line__text-nodestart,
.benefits-line__text-nodecenter,
.benefits-line__text-nodemiddle,
.benefits-line__text-nodefinish {
    width: 450px;
    height: 226px;
    display: block;
  }
  .benefits-line__text-nodestart:not(:last-child),
.benefits-line__text-nodecenter:not(:last-child),
.benefits-line__text-nodemiddle:not(:last-child),
.benefits-line__text-nodefinish:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-line__text-nodestart,
.benefits-line__text-nodecenter,
.benefits-line__text-nodemiddle,
.benefits-line__text-nodefinish {
    display: block;
    width: 354px;
    height: 224px;
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-line__text-nodestart,
.benefits-line__text-nodecenter,
.benefits-line__text-nodemiddle,
.benefits-line__text-nodefinish {
    width: 270px;
    height: 248px;
  }
  .benefits-line__text-nodestart .benefits-line__text-nodestart,
.benefits-line__text-nodestart .benefits-line__text-nodecenter,
.benefits-line__text-nodestart .benefits-line__text-nodemiddle,
.benefits-line__text-nodestart .benefits-line__text-nodefinish:not(:last-child),
.benefits-line__text-nodecenter .benefits-line__text-nodestart,
.benefits-line__text-nodecenter .benefits-line__text-nodecenter,
.benefits-line__text-nodecenter .benefits-line__text-nodemiddle,
.benefits-line__text-nodecenter .benefits-line__text-nodefinish:not(:last-child),
.benefits-line__text-nodemiddle .benefits-line__text-nodestart,
.benefits-line__text-nodemiddle .benefits-line__text-nodecenter,
.benefits-line__text-nodemiddle .benefits-line__text-nodemiddle,
.benefits-line__text-nodemiddle .benefits-line__text-nodefinish:not(:last-child),
.benefits-line__text-nodefinish .benefits-line__text-nodestart,
.benefits-line__text-nodefinish .benefits-line__text-nodecenter,
.benefits-line__text-nodefinish .benefits-line__text-nodemiddle,
.benefits-line__text-nodefinish .benefits-line__text-nodefinish:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits-line__text-nodestart {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits-line__text-nodestart::before {
  content: "";
  width: 450px;
  height: 120px;
  background-size: auto;
  background-image: url(../images/icons/antena.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .benefits-line__text-nodestart::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-line__text-nodestart::before {
    width: 270px;
  }
}

.benefits-line__text-nodecenter::before {
  content: "";
  width: 450px;
  height: 120px;
  background-size: auto;
  background-image: url(../images/icons/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .benefits-line__text-nodecenter::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-line__text-nodecenter::before {
    width: 270px;
  }
}

.benefits-line__text-nodecenter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits-line__text-nodemiddle::before {
  content: "";
  width: 450px;
  height: 120px;
  background-size: auto;
  background-image: url(../images/icons/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .benefits-line__text-nodemiddle::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-line__text-nodemiddle::before {
    width: 270px;
  }
}

.benefits-line__text-nodemiddle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits-line__text-nodefinish::before {
  content: "";
  width: 450px;
  height: 120px;
  background-size: auto;
  background-image: url(../images/icons/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .benefits-line__text-nodefinish::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-line__text-nodefinish::before {
    width: 270px;
  }
}

.benefits-line__text-nodefinish {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits-line .text-node {
  min-width: 270px;
}

@media screen and (max-width: 1199px) {
  .section-title {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    padding-bottom: 94px;
  }
}

.section-title__section-titlework {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__photo-work:not(:last-child) {
  margin-right: 30px;
}

.project__photo-work {
  position: relative;
}

.input-column {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(47, 48, 58, 0.8);
}

.input-column__input-text {
  text-transform: uppercase;
  text-align: center;
  color: var(--button-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
}

.ourteam-section {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .ourteam-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .employee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.employee__team-border {
  display: block;
  background-color: #F5F4FA;
}
@media screen and (max-width: 767px) {
  .employee__team-border:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .employee__team-border {
    -ms-flex-line-pack: center;
        align-content: center;
    width: calc((100% - 60px) / 2);
    margin: 15px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .employee__team-border {
    width: 270px;
    height: 428px;
  }
  .employee__team-border .employee__team-border:not(:last-child) {
    margin-right: 30px;
  }
}

.employee__photo-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .employee__photo-team {
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
@media screen and (min-width: 768px) {
  .employee__photo-team {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.ourteam-section__section-titleabout {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .ourteam-section__section-titleabout {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 10px;
}

.employee__group-center {
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.socials__socials-link {
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  color: #afb1b8;
  background-color: var(--button-color);
  outline: 2px solid transparent;
  outline-offset: -2px;
}

.socials__socials-link--link:hover, .socials__socials-link--link:focus {
  color: var(--button-color);
  background-color: var(--accent-color);
}

.socials__socials-icon {
  fill: currentColor;
}

.employee__team-border {
  background-color: var(--button-color);
  border-bottom: 2px solid #afb8b1;
  border-radius: 4px;
  -webkit-box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.employee__team-member {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}

.employee__group-center {
  text-align: center;
}

.employee__work {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--ptext-color);
}

.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-section__customers {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .clients-section__customers {
    font-size: 36px;
    line-height: 1.1666666667;
    text-align: center;
    margin-bottom: 50px;
  }
}

.regularclients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .regularclients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 768px) {
  .regularclients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.regularclients-list__number-client {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 479px) {
  .regularclients-list__number-client {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 480px) {
  .regularclients-list__number-client {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .regularclients-list__number-client {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .regularclients-list__number-client {
    width: 170px;
    height: 92px;
  }
  .regularclients-list__number-client .regularclients-list__number-client:not(:last-child) {
    margin-right: 30px;
  }
}

.regularclients-list__clients-link {
  -webkit-transition-property: fill, border, border-radius;
  transition-property: fill, border, border-radius;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  width: 210px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .regularclients-list__clients-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .regularclients-list__clients-link {
    width: 170px;
  }
}

.regularclients-list__client-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.regularclients-list__clients-link--link:hover, .regularclients-list__clients-link--link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 480px) {
  .container-footer {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 481px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.section-number {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footerbg-color);
}

@media screen and (max-width: 767px) {
  .container-baseline {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .container-baseline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .container-baseline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  initial-letter: 0.03em;
  text-decoration: none;
}

.section-number__logo {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .section-number__logo {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .section-number__logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.section-number__logo-header {
  color: var(--button-color);
}

.section-header__logo-header {
  color: var(--logofirst-color);
  font-weight: 700;
}

.first-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  .first-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .first-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .first-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer-info__element {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-info__element--white:hover, .footer-info__element--white:focus {
  color: var(--button-color);
}

.footer-info {
  background-color: var(--footerbg-color);
}
@media screen and (max-width: 1199px) {
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer-info {
    display: inline-block;
  }
}

.footer-info__contacts {
  display: block;
  margin-bottom: 9px;
}

.footer-info__contacts:last-child {
  margin-bottom: 0px;
}

.footer-info__element {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-info__element--white:hover, .footer-info__element--white:focus {
  color: var(--button-color);
}

.footer-info {
  background-color: var(--footerbg-color);
}

.footer-info__contacts {
  margin-bottom: 9px;
}

.footer-info__contacts:last-child {
  margin-bottom: 0px;
}

.logo-footer {
  color: var(--button-color);
}

.jointoday {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .jointoday {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 481px) {
  .jointoday {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section-number__jointoday-title {
  margin-bottom: 20px;
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .section-number__jointoday-title {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .section-number__jointoday-title {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.socialsgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 10px;
}

.socialsgroup__connect-link {
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  fill: var(--button-color);
  background-color: #3b3c49;
  outline: 2px solid transparent;
  outline-offset: -2px;
}

.socialsgroup__connect-link--blue:hover, .socialsgroup__connect-link--blue:focus {
  fill: var(--button-color);
  background-color: var(--accent-color);
}

.follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .main-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.section-number__subscribe {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 481px) {
  .section-number__subscribe {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .section-number__subscribe {
    text-align: start;
  }
}

.section-number__subscribe-info {
  -webkit-transition-property: outline, border;
  transition-property: outline, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
  padding: 15px 16px;
  min-width: 354px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footerbg-color);
}
@media screen and (max-width: 767px) {
  .section-number__subscribe-info {
    display: inline-block;
    width: 100%;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .section-number__subscribe-info {
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.main-line:focus-within > .section-number__subscribe-info--blueborder {
  outline: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.btn-subscribe {
  display: inline-block;
  color: var(--button-color);
  background-color: var(--accent-color);
  font-weight: 700;
  display: inline-block;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.875;
  text-align: start;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .btn-subscribe {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media screen and (min-width: 481px) {
  .btn-subscribe {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.btn-subscribe {
  position: relative;
}

.section-number__subscribe-icon {
  position: absolute;
  position: absolute;
  top: 55%;
  left: 67%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--button-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2500;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  overflow-y: scroll;
  background-color: rgba(25, 28, 38, 0.4);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  -webkit-transition: opacity 150ms linear, visibility 150ms linear;
  transition: opacity 150ms linear, visibility 150ms linear;
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 208px 160px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 222px 536px;
  }
}

.backdrop.is-hidden {
  opacity: 0px;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding-top: 52px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: var(--button-color);
  border-radius: 10px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop .is-hidden .modal {
  opacity: 0px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12px;
}

.backdrop__information-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.backdrop__datalist {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .backdrop__datalist {
    display: block;
  }
}

.basegroup:focus-within > .backdrop__baseword--blue {
  outline: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.basegroup:focus-within > .backdrop__modalname--blue {
  fill: var(--accent-color);
}

.basegroup:focus-within > .backdrop__modalnumber--blue {
  fill: var(--accent-color);
}

.basegroup:focus-within > .backdrop__modalemail--blue {
  fill: var(--accent-color);
}

.basegroup:focus-within > .backdrop__basearea--blue {
  outline: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

/* .form-fild:focus-within > .btn-close {
    fill: var(--accent-color);
    outline: transparent;
} */
.backdrop__baseword {
  -webkit-transition-property: outline, border;
  transition-property: outline, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-left: 48px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  min-height: 40px;
  min-width: 370px;
}
@media screen and (min-width: 480px) {
  .backdrop__baseword {
    width: 370px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .backdrop__baseword {
    min-width: 370px;
    height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__baseword {
    width: 448px;
    height: 40px;
  }
}

.backdrop__basearea {
  -webkit-transition-property: outline, border;
  transition-property: outline, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  min-width: 370px;
  resize: none;
}
@media screen and (min-width: 1200px) {
  .backdrop__basearea {
    width: 448px;
    height: 120px;
  }
}

.backdrop__agreement {
  color: var(--accent-color);
}

.backdrop__contract {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (max-width: 1199px) {
  .backdrop__contract {
    margin-left: 16px;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (max-width: 767px) {
  .backdrop__contract {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .backdrop__contract {
    display: block;
  }
}

.basegroup {
  position: relative;
}

.backdrop__modalname {
  position: absolute;
  top: 55%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.backdrop__modalnumber {
  position: absolute;
  top: 58%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.backdrop__modalemail {
  position: absolute;
  top: 58%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.backdrop__baseconsent {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-left: 14px;
}
@media screen and (max-width: 767px) {
  .backdrop__baseconsent {
    margin-left: 18px;
  }
}
@media screen and (min-width: 768px) {
  .backdrop__baseconsent {
    margin-left: 18px;
  }
}

.backdrop__consent-icon {
  -webkit-transition-property: fill, border, background-color;
  transition-property: fill, border, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 80.5%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #212121;
  fill: var(--button-color);
}
@media screen and (min-width: 768px) {
  .backdrop__consent-icon {
    top: 79%;
    left: 12%;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__consent-icon {
    top: 79.5%;
    left: 10%;
  }
}

.backdrop__baseconsent:checked + .backdrop__consent-icon--check {
  border: transparent;
  fill: var(--button-color);
  background-color: var(--accent-color);
}

.btn-close {
  position: absolute;
  top: 26px;
  right: 14px;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition-property: fill, outline;
  transition-property: fill, outline;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close--blue:hover, .btn-close--blue:focus {
  fill: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.buttonpage, .backdrop__buttonpage, .hero__buttonpage {
  color: var(--button-color);
  background-color: var(--accent-color);
  font-weight: 700;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 1.875;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
  cursor: pointer;
}

.backdrop__buttonpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=main.css.map */