:root {
  --primary-text-color: #212121;
  --ptext-color: #757575;
  --accent-color: #2196F3;
  --logofirst-color: #000000;
  --button-color: #FFFFFF;
  --buttonbg-color: #2196F3;
  --herobg-color: #2F303A;
  --footerbg-color: #2F303A;
}

body {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container, .container-footer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container, .container-footer {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container, .container-footer {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container, .container-footer {
    width: 1200px;
  }
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  initial-letter: 0.03em;
  text-decoration: none;
}

.section-number__logo {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .section-number__logo {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .section-number__logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.section-number__logo-header {
  color: var(--button-color);
}

.section-header__logo-header {
  color: var(--logofirst-color);
  font-weight: 700;
}

.container, .container-footer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-header {
  border-bottom: 1px solid #f1f1f1;
  position: relative;
}

.list {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

.first-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .first-nav {
    height: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .first-nav {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .first-nav {
    height: 80px;
  }
}

.menu-button {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  outline: 0;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu-button {
    margin-left: auto;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  background-color: var(--button-color);
  font-size: 34px;
  padding: 48px 40px;
  z-index: 2000;
}
@media screen and (max-width: 767px) {
  .menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 90vh;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .first-nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 93px;
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
  }
}
@media screen and (max-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 308px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav,
.info-about {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .site-nav,
.info-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav .site-nav__link,
.info-about .info-about__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .site-nav__main-nav {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__main-nav {
    margin-right: 32px;
  }
}

.info-about {
  margin-left: auto;
  margin-right: 0px;
}
@media screen and (max-width: 767px) {
  .info-about {
    display: block;
    margin-left: 0px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .info-about {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .info-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav .site-nav__link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
  font-family: "Roboto" sans-serif;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  text-transform: none;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .site-nav .site-nav__link {
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    color: var(--primary-text-color);
  }
}

.info-about .info-about__link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
  font-family: "Roboto" sans-serif;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  text-transform: none;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .info-about .info-about__link {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 24px;
    line-height: 1.1666666667;
    color: var(--ptext-color);
  }
}
@media screen and (min-width: 768px) {
  .info-about .info-about__link {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.info-about .info-about__link {
  color: var(--ptext-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__link--bluelink:hover, .site-nav__link--bluelink:focus,
.info-about__link--bluelink:hover,
.info-about__link--bluelink:focus,
.info-about__link--telcolor:hover,
.info-about__link--telcolor:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .info-about__link--telcolor {
    color: var(--accent-color);
  }
}

.info-about__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .info-about__main-nav:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .info-about__main-nav:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .info-about__main-nav:not(:last-child) {
    margin-bottom: 32px;
  }
}

.info-about__info-icon,
.info-about__info-header {
  display: inline-block;
  fill: currentColor;
  /* margin-right: 10px; */
}
@media screen and (max-width: 767px) {
  .info-about__info-icon,
.info-about__info-header {
    display: none;
  }
}

.info-about__info-header {
  margin-right: 10px;
}

.info-about__info-icon {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .site-nav .active {
    position: relative;
  }
}

.site-nav .active {
  color: var(--accent-color);
  background-color: var(--button-color);
}

.site-nav .active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%) scaleX(0.3);
          transform: translateX(-50%) scaleX(0.3);
  display: block;
  width: 95%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
}
@media screen and (max-width: 767px) {
  .site-nav .active::after {
    display: none;
  }
}

.site-nav .active::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
  opacity: 1;
}

.menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .menu-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .menu-link {
    display: none;
  }
}

.menu-link__socials {
  margin-right: 20px;
}

.menu-link__item:not(:last-child) {
  margin-right: 20px;
  border-right: 2px solid rgba(33, 33, 33, 0.2);
}

.container-navsecond {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container-navsecond {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container-navsecond {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container-navsecond {
    width: 1200px;
  }
}

@media screen and (min-width: 480px) {
  .work-element {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .work-element {
    padding-top: 14px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .work-element {
    padding-top: 34px;
    padding-bottom: 94px;
  }
}

.section-menu {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .section-menu {
    padding-top: 94px;
  }
}

.container-menu {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container-menu {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container-menu {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container-menu {
    width: 1200px;
  }
}

.nav-second {
  -webkit-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--logofirst-color);
}
@media screen and (min-width: 480px) {
  .nav-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .nav-second {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .nav-second {
    width: 1200px;
  }
}

.nav-second .nav-second__menu--blue:hover, .nav-second .nav-second__menu--blue:focus {
  color: var(--button-color);
  background-color: var(--accent-color);
  border: transparent;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.nav-second__menu {
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: transparent;
  cursor: pointer;
  margin-right: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .nav-second__menu {
    margin-right: 4px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .nav-second__menu {
    margin-bottom: 0px;
  }
}

.nav-second__button-type .first {
  width: 73px;
  margin-right: 8px;
  margin-bottom: 15px;
}

.nav-second__button-type .second {
  width: 125px;
  margin-right: 8px;
  margin-bottom: 15px;
}

.nav-second__button-type .third {
  width: 112px;
  margin-right: 8px;
  margin-bottom: 15px;
}

.nav-second__button-type .fourth {
  width: 103px;
  margin-right: 8px;
  margin-bottom: 15px;
}

.nav-second__button-type .fifth {
  width: 130px;
  margin-right: 8px;
  margin-bottom: 15px;
}

.work-element__about-portfolio {
  content-visibility: hidden;
}

.exstra {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
}

.experience__post-example {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  border-bottom: 1px solid #f1f1f1;
}
@media screen and (min-width: 480px) {
  .experience__post-example {
    width: 450px;
    height: 404px;
  }
}
@media screen and (min-width: 768px) {
  .experience__post-example {
    width: 354px;
    height: 404px;
  }
}
@media screen and (min-width: 1200px) {
  .experience__post-example {
    width: 370px;
    height: 404px;
  }
}

.experience__post-example--shadow:hover, .experience__post-example--shadow:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 480px) {
  .experience__photo {
    width: 450px;
    height: 294px;
  }
}
@media screen and (min-width: 768px) {
  .experience__photo {
    width: 354px;
    height: 294px;
  }
}
@media screen and (min-width: 1200px) {
  .experience__photo {
    width: 370px;
    height: 294px;
  }
}

.experience__example .experience__title {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  content-visibility: visible;
  color: var(--logofirst-color);
}
@media screen and (min-width: 768px) {
  .experience__example .experience__title {
    width: 306px;
  }
}
@media screen and (min-width: 1200px) {
  .experience__example .experience__title {
    width: 380px;
  }
}

.experience__example .experience__worktype {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--ptext-color);
}

.experience {
  display: block;
}
@media screen and (min-width: 768px) {
  .experience {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .experience {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -15px;
  }
}

.experience__example {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 404px;
}
@media screen and (min-width: 480px) {
  .experience__example:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .experience__example {
    display: block;
    width: calc((100% - 60px) / 2);
    margin: 15px;
    width: 354px;
    height: 440px;
  }
}
@media screen and (min-width: 1200px) {
  .experience__example {
    margin: 15px;
    width: 370px;
    height: 404px;
  }
}

.experience__example .team-thumb {
  position: relative;
  overflow: hidden;
}

.secondoverlay {
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: color, transform;
  transition-property: color, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 63px 25px;
  background-color: var(--accent-color);
  background-color: var(--accent-color);
  background: rgba(33, 150, 243, 0.9);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.experience__icon-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--button-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
}

.experience__post-example:hover .secondoverlay--translate {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 480px) {
  .container-footer {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 481px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.section-number {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footerbg-color);
}

@media screen and (max-width: 767px) {
  .container-baseline {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .container-baseline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .container-baseline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  initial-letter: 0.03em;
  text-decoration: none;
}

.section-number__logo {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .section-number__logo {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .section-number__logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.section-number__logo-header {
  color: var(--button-color);
}

.section-header__logo-header {
  color: var(--logofirst-color);
  font-weight: 700;
}

.first-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  .first-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .first-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .first-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer-info__element {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-info__element--white:hover, .footer-info__element--white:focus {
  color: var(--button-color);
}

.footer-info {
  background-color: var(--footerbg-color);
}
@media screen and (max-width: 1199px) {
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer-info {
    display: inline-block;
  }
}

.footer-info__contacts {
  display: block;
  margin-bottom: 9px;
}

.footer-info__contacts:last-child {
  margin-bottom: 0px;
}

.footer-info__element {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-info__element--white:hover, .footer-info__element--white:focus {
  color: var(--button-color);
}

.footer-info {
  background-color: var(--footerbg-color);
}

.footer-info__contacts {
  margin-bottom: 9px;
}

.footer-info__contacts:last-child {
  margin-bottom: 0px;
}

.logo-footer {
  color: var(--button-color);
}

.jointoday {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .jointoday {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 481px) {
  .jointoday {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section-number__jointoday-title {
  margin-bottom: 20px;
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .section-number__jointoday-title {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .section-number__jointoday-title {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.socialsgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 10px;
}

.socialsgroup__connect-link {
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  fill: var(--button-color);
  background-color: #3b3c49;
  outline: 2px solid transparent;
  outline-offset: -2px;
}

.socialsgroup__connect-link--blue:hover, .socialsgroup__connect-link--blue:focus {
  fill: var(--button-color);
  background-color: var(--accent-color);
}

.follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .main-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.section-number__subscribe {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 481px) {
  .section-number__subscribe {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .section-number__subscribe {
    text-align: start;
  }
}

.section-number__subscribe-info {
  -webkit-transition-property: outline, border;
  transition-property: outline, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
  padding: 15px 16px;
  min-width: 354px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footerbg-color);
}
@media screen and (max-width: 767px) {
  .section-number__subscribe-info {
    display: inline-block;
    width: 100%;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .section-number__subscribe-info {
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.main-line:focus-within > .section-number__subscribe-info--blueborder {
  outline: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.btn-subscribe {
  display: inline-block;
  color: var(--button-color);
  background-color: var(--accent-color);
  font-weight: 700;
  display: inline-block;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.875;
  text-align: start;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .btn-subscribe {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media screen and (min-width: 481px) {
  .btn-subscribe {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.btn-subscribe {
  position: relative;
}

.section-number__subscribe-icon {
  position: absolute;
  position: absolute;
  top: 55%;
  left: 67%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--button-color);
}/*# sourceMappingURL=portfolio.css.map */