.aboutus-section {
    padding-top: 60px;
    padding-bottom: 60px;
}



.aboutus-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.aboutus__title {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}