.container-clients {
    @extend .container 
}

.clients-section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
}

.clients-section__customers {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33/28);
    text-align: center;
    color: #212121;

    @media screen and (min-width: 1200px) {
    font-size: 36px;
        line-height: calc(42/36);
        text-align: center;
        margin-bottom: 50px;
    }
        
}
    
.regularclients-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
    @media screen and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

}

.regularclients-list__number-client {
    align-items: center;
    //  padding-top: 16px;
    //  padding-bottom: 52px;
    @media screen and (max-width: 479px) {
    //    display: block;
    //    margin-bottom: 15px;
         width: calc((100% - 4 * 15px) / 2);
         margin: 15px;
    }

    @media screen and (min-width: 480px) {
           width: calc((100% - 4 * 15px) / 2);
            margin: 15px;
        }
    
    @media screen and (min-width: 768px) {
        width: calc((100% - 6 * 15px) / 3);
        margin: 15px;
    }


    @media screen and (min-width: 1200px) {
        width: 170px;
        height: 92px;

        .regularclients-list__number-client:not(:last-child) {
            margin-right: 30px;
        }

     }
    }


//  .regularclients-list:not(:last-child) {
//     margin-right: 0px;
// }

.regularclients-list__clients-link {

    @include transitive (fill, border, border-radius);
    fill: #afb1b8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 210px;
    @media screen and (min-width: 768px) {
        width: 226px;
    }
    @media screen and (min-width: 1200px) {
        width: 170px;
    }
    border: 1px solid #afb1b8;
    border-radius: 4px;

    // transition-property: fill, border, border-radius;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.regularclients-list__client-icon {
    display: inline-flex;
    align-items: center;

}

//  .regularclients-list__number-client:not(:last-child) {
//      margin-right: 30px;
//  }



.regularclients-list__clients-link--link {
    &:hover,
    &:focus {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);
        border-radius: 4px;
    }
}
