.btn-close {
    position: absolute;
    top: 26px;
    right: 14px;

    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 18px;

    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;

    @include transitive (fill,outline);
    // transition-property: fill, outline;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close--blue {

    &:hover,
    &:focus {
        fill: var(--accent-color);
        border: 1px solid rgba(0, 0, 0, 0.1)
    }
}
